<form class="contactform" action="/contactform" method="post">

	<div class="flx-group flx-group--centered">

		<div class="field flx--sm-4 flx--md-3 {{#if errors.name}}field--error{{/if}}">
			<label for="name">Name</label>
			<input name="name" id="name" type="text" placeholder="Name" value="{{fields.name}}" {{!-- required --}} >
			{{#if errors.name}}
			<p class="field__error">{{errors.name.msg}}</p>
			{{/if}}
		</div>

		<div class="field flx--sm-4 flx--md-3 {{#if errors.email}}field--error{{/if}}">
			<label for="email">Email</label>
			<input name="email" id="email" type="text" placeholder="Email" value="{{fields.email}}">
			{{#if errors.email}}
			<p class="field__error">{{errors.email.msg}}</p>
			{{/if}}
		</div>

	</div><!-- .flx-group -->

	<div class="flx-group flx-group--centered">

		<div class="flx--sm-8 flx--md-6">

			<div class="field {{#if errors.message}}field--error{{/if}}">
				<label for="message">Nachricht</label>
				<textarea name="message" id="message" cols="30" rows="10" placeholder="Hello Felix!" />{{fields.message}}</textarea>
				{{#if errors.message}}
				<p class="field__error">{{errors.message.msg}}</p>
				{{/if}}
			</div>
			
			<div class="btn-group btn-group--right">
				<button class="btn btn--block">
					Say hello 2!
				</button>
			</div>

		</div>

	</div><!-- .flx-group -->

</form>